extends base/base

block content
	h1.title Контакты

	Скрипт карты

	hr

	iframe(id="wufooFormq1lkj61l0ivd3pn" class="wufoo-form-container" height="639" frameborder="0" src="https://liraltd.wufoo.com/embed/q1lkj61l0ivd3pn/def/embedKey=q1lkj61l0ivd3pn588069&entsource=&referrer=http%3Awuslashwuslashliraltd.comwuslashservices" style="width:100%;border:none" scrolling="no" allowtransparency="true")

	hr

block prepend sidebar
	include elements/form