extends base/base

block content
	h1 Увеличение картинок
	a(href="" data-url="http://dummyimage.com/600x400/000/fff")
		img(src="http://dummyimage.com/150x120/000/fff")
	a(href="" data-url="http://dummyimage.com/400x600/0f0/fff")
		img(src="http://dummyimage.com/120x150/0f0/fff")