extends base/base

block content
	h1 Повышаем эффективность привлечения клиентов через интернет с помощью контекстной рекламы
	p Построение <strong>системного интернет-маркетинга</strong> и <a href="http://liraltd.com/ppc" title="Заказать контекстную рекламу">контекстная реклама</a> на основе данных аналитики являются основными направлениями работы бюро интернет-маркетинга «Лира». <strong>Специализация бюро</strong> — привлечение клиентов и увеличение продаж в сфере услуг и сложных товаров (высокая цена, сложность сравнения, длинный цикл принятия решения).
	p <strong>Построение системы интернет-маркетинга</strong> строится на основе бизнес-метрик и бизнес целей клиентов (доход, прибыль, стоимость привлечения клиента), а не технических показателей вроде охвата, частоты, узнаваемости или CTR объявлений в системах контекстной рекламы. Подробнее об услугах вы можете прочитать на специальной <a href="http://liraltd.com/services" title="Услуги и цены">странице</a>
	h2 С кем работаем
	p <span style="text-decoration: underline;">Предприниматели и собственники бизнеса</span> в сфере услуг и сложных товаров (b2b, сложность сравнения, высокая стоимость)
	ul
		li Производители промышленных товаров и оборудования
		li Юридические фирмы
		li Туристические агентства
		li Строительные компании
		li Продажа пром. оборудования
		li Оптовая торговля
		li Медицинские клиники и услуги