extends base/base

block content
	h1.title Услуги и цены

	.services-form
		iframe(id="wufooFormm1y7hzzp1vnqrju" class="wufoo-form-container" height="473" frameborder="0" src="https://liraltd.wufoo.com/embed/m1y7hzzp1vnqrju/def/embedKey=m1y7hzzp1vnqrju103069&entsource=&referrer=http%3Awuslashwuslashliraltd.comwuslashreferences" style="width:100%;border:none" scrolling="no" allowtransparency="true")

	hr

block prepend sidebar
	include elements/form