extends base/base

block content
	h1.title Вакансии
	h2 Открытые вакансии
	h3
		a(href="") Инженер
	p Интернет-маркетолог с уклоном на работу с платным каналами трафика. Работа над клиентскими проектами по специализации бюро и нашими собственными проектами.
	h3
		a(href="") Стажировка в бюро
	p Программа для начинающих специалистов по интернет-маркетингу.
	hr
