*
	box-sizing border-box
	&:before
	&:after
		box-sizing inherit

// Sticky flex footer
html
body
	display flex
	flex-direction column
	min-height 100%

body
	flex 1 1 auto
	position relative

.header
.footer
	flex 0 0 auto
.content
	flex 1 0 auto


// Container
.container
	display table
	width 100%
	max-width 960px
	margin-left auto
	margin-right auto