*
	box-sizing border-box
	&:before
	&:after
		box-sizing inherit

// Inputs
input
select
textarea
	margin-bottom 5px
	font-family "Lucida Grande", "Lucida Sans Unicode", verdana, arial, Tahoma, Verdana, sans-serif

// line
hr
	margin 20px 0 2em
	border-top 1px dotted #e8e8e8
	color transparent