.menu
	display block
	width 100%
	margin 0
	paddign 0
	&__item
		display block
		a
			display block
			padding 10px 15px
			background #ccc
			font-size 115%
			color #666
			text-shadow 0 1px 1px #fff
			text-decoration none
		&.active
		&:hover
			a
				background #fff
				color #999
				text-shadow none
	@media screen and (min-width: 700px)
		margin 3em 5px 0
		&__item
			display inline-block
			line-height normal