.post
	a h2
		color #4e4e4e
		&:hover
			color #ed1e24
			text-decoration none

	&__data
		display inline-block
		background #ededed
		color #aaa
		text-shadow 1px 0 0 #fff
		border-radius 5px
		padding 4px 10px
		margin-bottom 5px

	&__tags
		a
			display inline-block
			padding 1px 5px 2px
			margin-bottom 2px
			color #aaa
			border 1px solid #eee
			border-radius 10px
			margin-right 4px
			&:hover
				background #666
				border-color #666
				color #fff
				text-decoration none