// Font-size
html
	font-size 13px
	font-family Arial, Helvetica, Garuda, sans-serif

body
	color #333

h1
h2
h3
h4
h5
	font-weight normal
	margin 0.75em 0 0.25em
	padding 0

h1
	font-size 250%
	letter-spacing -0.04em

h2
	font-size 200%
	letter-spacing -0.03em

a
	color #356aa0
	text-decoration none
	&:hover
	&:focus
		color #ed1e24
		text-decoration underline

p
	line-height 150%
	margin 0.25em 0 0.75em

// Lists
ul
	padding 0
	line-height 150%
	list-style-position outside
	list-style-type disc
	margin  0 0 10px 15px

.text-center
	text-align center