form.form
	h3 Подписаться на рассылку
	.form__requred <span>*</span> Обязательные поля
	label
		| Кому (Имя)
		input(name="name" type="text" required)
	label
		| Куда (Email)
		input(name="mail" type="text" required)
	button.form__subscribe Подписаться

