body
	background-color #fff
	color #333
	font 13px Arial,Helvetica,Garuda,sans-serif

a
	color #356aa0
	text-decoration none
	&:hover
		color #ed1e24
		text-decoration underline
	&.rss-block
		background url("../i/icons.png") no-repeat scroll 6px 4px transparent
		border 1px solid #eee
		border-radius 5px
		color #aaa
		font-size 115%
		margin 7px 0 0
		padding 5px 10px 5px 30px
		&:hover
			background-color #565459
			border-color #565459
			color #fff
			text-decoration none
	&.go-top
		background none repeat scroll 0 0 #eee
		padding 5px 10px
		text-decoration none
		&:hover
			background none repeat scroll 0 0 #333
			color #fff

h1
	font-size 250%
	letter-spacing -0.04em
	&.title
		font 350%/100% times,Times New Roman,times-roman,georgia,serif
		letter-spacing -1px
		text-shadow 1px 1px 1px #fff

h2
	font-size 200%
	letter-spacing -0.03em

h3
	font-size 160%
	letter-spacing -0.02em

h4
	font-size 140%
	font-weight bold
	letter-spacing -0.02em

h5
	font-size 130%
	font-weight bold
	letter-spacing -0.02em
	&.title
		background url("../i/o1.png") repeat-x scroll center top #999
		color #fff
		font-size 140%
		font-weight normal
		padding 5px 10px

h6
	font-size 120%
	text-transform uppercase

td, th
	border 2px solid #fff

td
	background none repeat scroll 0 0 #efefef

th
	background none repeat scroll 0 0 #ddd

input, select, textarea
	font 1em "Lucida Grande","Lucida Sans Unicode",verdana,arial,Tahoma,Verdana,sans-serif

optgroup
	color #ddd

option
	color #333

fieldset
	background none repeat scroll 0 0 #fff
	border 1px solid #ddd
	padding 10px

legend
	border 1px solid #ddd
	font-size 115%
	font-style italic
	padding 5px 10px

hr
	background-color #b4aca1
	border-bottom 1px solid #f6f4eb
	color #b4aca1

pre
	background none repeat scroll 0 0 #fff
	border 1px solid #ddd
	padding 10px

code
	background none repeat scroll 0 0 #ddd
	padding 0 4px
	text-shadow 0 1px 1px #fff

blockquote
	background none repeat scroll 0 0 #f9f9f9
	border-left 10px solid #ccc
	padding 0.5em 10px
	quotes "“" "”" "‘" "’"
	&:before
		color #ccc

.empty-area
	background none repeat scroll 0 0 #e92606
	color #fff
	font-weight bold
	line-height 150%
	padding 10px
	text-align center

#main
	padding 10px 0

body.col-2-left #mask-1, body.col-2-right #mask-1, body.col-3 #mask-1, body.col-3-left #mask-1, body.col-3-right #mask-1
	border-right 1px dotted #999

body.col-3 #mask-2, body.col-3-left #mask-2, body.col-3-right #mask-2
	border-left 1px dotted #999

#primary-content
	.blocks
		padding 0 10px

#header
	background none repeat scroll 0 0 #eee

#logo
	font bold 375% "Arial Black","Helvetica Black",Gadget,sans-serif
	letter-spacing -3px
	text-transform lowercase
	a
		color #333
		text-decoration none
		text-shadow 0 1px 1px #fff
		&:hover
			color #666
			span
				&.alt
					color #f2b428
	span
		&.alt
			font-style normal
			margin 0 -12px

.nav
	ul
		ul
			box-shadow 0 8px 15px rgba(0, 0, 0, 0.25)

.nav-top
	background url("../i/o1.png") repeat-x scroll center top #000
	border-bottom 1px solid #fff
	z-index 25
	li
		margin-right 10px
		li
			margin 0
			padding 0 10px
			a
				border-top 1px solid #454545
				color #999
				font-size 100%
				padding 5px
		&:first-child
			a
				border 0 none !important
	a
		color #666
		font-size 115%
		padding 10px 15px
	ul
		ul
			background none repeat scroll 0 0 #333
			padding 10px 0
			top 35px

.nav-top .current-menu-item > a, .nav-top .current-menu-ancestor > a, .nav-top li.hover > a, .nav-top li:hover > a
	background url("../i/o1b.png") repeat-x scroll center top #333
	color #fff

.nav-top li .current-menu-item > a, .nav-top li .current-menu-ancestor > a, .nav-top li li.hover > a, .nav-top li li:hover > a
	background none repeat scroll 0 0 #555
	color #fff

.nav-main
	padding 0 5px
	li
		margin-right 4px
		li
			border 0 none
			margin 0
			padding 0 10px
			a
				background none repeat scroll 0 0 rgba(0, 0, 0, 0)
				border-top 1px dotted #666
				font-size 100%
				font-weight normal
				line-height 125%
				padding 5px
				text-shadow none
			.arrow
				display block
				top 8px
	a
		background url("../i/o1.png") repeat-x scroll center top #ccc
		color #666
		font-size 115%
		padding 10px 15px
		text-decoration none
		text-shadow 0 1px 1px #fff
	ul
		ul
			background-color #fff
			padding 10px 0
			top 37px
			ul
				top 10px
	.arrow
		display none

.nav-main .current-menu-item > a, .nav-main .current-menu-ancestor > a, .nav-main li.hover > a, .nav-main li:hover > a
	background-color #fff
	color #999
	text-shadow none

.nav-main li li:first-child a, .nav-main li li.first a
	border 0 none

.nav-main li li.hover > a, .nav-main li li:hover > a
	background none repeat scroll 0 0 #504e53
	color #fff

.nav-main li .current-menu-item > a, .nav-main li .current-menu-ancestor > a
	background none repeat scroll 0 0 #eee
	color #356aa0
	font-weight bold

.nav-bottom
	background url("../i/o1.png") repeat-x scroll center top #444
	border-bottom 1px solid #555
	z-index 25
	li
		margin-right 10px
		li
			margin 0
			padding 0 10px
			a
				border-top 1px solid #333
				color #666
				font-size 100%
				padding 5px
			.arrow
				background-position -16px 0
		&:first-child
			a
				border 0 none !important
	a
		color #999
		font-size 115%
		padding 10px 15px
	ul
		ul
			background none repeat scroll 0 0 #000
			bottom 36px
			padding 10px 0
			top auto
			ul
				bottom 10px
				left 280px
				top auto
	.arrow
		background-position -8px 0

.nav-bottom .current-menu-item > a, .nav-bottom .current-menu-ancestor > a, .nav-bottom li.hover > a, .nav-bottom li:hover > a
	background url("../i/o1b.png") repeat-x scroll center top #333
	color #fff

.nav-bottom li .current-menu-item > a, .nav-bottom li .current-menu-ancestor > a, .nav-bottom li li.hover > a, .nav-bottom li li:hover > a
	background none repeat scroll 0 0 #222
	color #ccc

.nav-bottom .current-menu-item > a .arrow, .nav-bottom .current-menu-ancestor > a .arrow, .nav-bottom li.hover > a .arrow, .nav-bottom li:hover > a .arrow
	background-position -8px -8px

.nav-bottom li .current-menu-item > a .arrow, .nav-bottom li .current-menu-ancestor > a .arrow, .nav-bottom li li.hover > a .arrow, .nav-bottom li li:hover > a .arrow
	background-position -16px -8px

#sidebar .block, #sidebar2 .block
	padding 0 10px

.block
	h3
		&.title
			border-bottom 1px solid #999
			color #333
			font 150% Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif
			letter-spacing normal
			margin 0 0 4px
			padding 5px 10px 2px 0
			a
				&:hover
					text-decoration none
	ul
		&.menu
			li
				position relative
				z-index 5
				li
					border 0 none
					font-size 85%
					font-weight bold
					li
						font-size 100%
			a
				&:hover
					.tt
						text-decoration underline
			.c1
				color #333
				text-decoration none
			.c2
				color #999
				font-size 90%
				text-transform uppercase
			.flag
				margin-top 4px
			&.images
				margin-right -4px
			.rating
				background-color #ccc
				.bar
					background-color #33cc33
	a
		&.more
			background-color #ccc
			border-radius 5px
			color #fff
			letter-spacing 0.25em
			margin-top 4px
			padding 4px 0
			text-align center
			text-decoration none
			text-transform uppercase
			width 100%
			&.loading
				background url("../i/lh16w.gif") no-repeat scroll center center transparent
				text-indent -9999px

.block ul.menu li, .block ul.box .entry
	border-top 1px dotted #aaa

#footer .block ul.menu li, #footer .block ul.box .entry
	border-color #555

.block ul.menu li.first, .block ul.menu li:first-child, .block ul.box .entry.first, .block ul.box .entry:first-child
	border 0 none

.block ul.menu a, .block ul.box .entry
	text-decoration none

body.no-js .block ul.menu a:hover, .block ul.menu .fadeThis .hover
	background url("../i/lm.png") no-repeat scroll center center #eee

body.no-js .block ul.menu li li a:hover, .block ul.menu li li a:hover, .block ul.menu li li .fadeThis .hover
	background none repeat scroll 0 0 rgba(0, 0, 0, 0)
	text-decoration underline

#footer body.no-js .block ul.menu a:hover, #footer .block ul.menu .fadeThis .hover
	background none repeat scroll 0 0 #333

.block ul.menu .current-menu-item > a, .block ul.menu .current-menu-ancestor > a
	color #ed1e24
	font-weight bold

#footer
	background none repeat scroll 0 0 #111
	color #555
	.block
		ul
			&.menu
				.c1
					color #555
		a
			&.more
				background-color #393939
				&.loading
					background-image url("../i/lh16b.gif")
		h4
			&.title
				border-bottom 1px solid #444
				color #666
				font-size 120%
				font-weight normal
				padding 5px 0 2px
				text-transform uppercase
	.tabs
		border-color #343434
		a
			background-color #222
			background-image url("../i/o1b.png")
			border-color #343434
			text-shadow none
	a
		color #777
		&:hover
			color #fff
		&.rss
			background url("../i/icons.png") no-repeat scroll 6px -3px transparent
			padding-left 30px
	.block-content
		padding 10px
	#copyright
		text-align center
	.no-img
		background-color #555
	.calendar-block
		.top
			background none repeat scroll 0 0 #202020
		.control
			border-color #121212
	table
		&.calendar
			td
				span
					background none repeat scroll 0 0 #202020
			a
				background none repeat scroll 0 0 #444
	.latest-tweets
		.loading
			background-image url("../i/lc64b.gif")
		.avatar
			border-color #494949
			img
				border-color #999
		.info
			border-bottom 1px dotted #555

body.no-js .block a.more:hover, .block a.more .hover
	background-color #e88d33
	border-radius 5px
	color #fff

body.no-js #footer .block a.more:hover, #footer .block a.more .hover
	background-color #666

.hentry
	border-bottom 1px dotted #e8e8e8
	padding-bottom 20px
	position relative
	&.asides
		background none repeat scroll 0 0 #efefef
		border-radius 10px
		padding 10px
		h2
			&.title
				font-size 130%
				font-weight bold
				padding 0
	&.thumb-only
		border 0 none
		padding 0
	&.sticky
		background none repeat scroll 0 0 #f4f4f4
		border 0 none
		padding 10px
		h2
			&.title
				font 350% times,Times New Roman,times-roman,georgia,serif
	h2
		&.title
			font 200% times,Times New Roman,times-roman,georgia,serif
			letter-spacing -0.02em
			margin 0
			a
				color #4e4e4e
				&:hover
					color #ed1e24
					text-decoration none
	&.thumb-left
		.post-details
			border-left 1px solid #ddd
	&.thumb-right
		.post-details
			border-right 1px solid #ddd
	.post-info
		background none repeat scroll 0 0 #ededed
		border-left 1px solid #fff
		border-radius 5px
		display inline-block
		margin-bottom 5px
		span
			border-right 1px solid #fff
			color #aaa
			display table-cell
			padding 4px 10px
			text-shadow 1px 0 0 #fff
			vertical-align middle
			a
				color #4e4e4e
				&:hover
					color #ed1e24
	.post-content
		text-align justify
	.post-extra
		font-size 85%
		padding-top 5px
	.post-tags
		a
			border 1px solid #eee
			border-radius 10px
			color #aaa
			margin-bottom 2px
			padding 1px 5px 2px
			&:hover
				background-color #666
				border-color #666
				color #fff
				text-decoration none
	.comments
		background url("../i/icons.png") no-repeat scroll 0 -40px transparent
		padding-left 22px
		text-transform uppercase
	&.featured
		border 0 none
		padding 10px 0

.post-controls
	a
		background none repeat scroll 0 0 #fff
		border 1px solid #ccc
		border-radius 5px
		color #999
		font-size 120%
		margin-left 4px
		padding 2px 5px
		text-decoration none
		&:hover
			background none repeat scroll 0 0 #ed1e24
			border-color #ed1e24
			color #fff

.comment
	.avatar
		background none repeat scroll 0 0 #fff
		border-bottom 1px solid #ccc
		img
			padding 5px
	.comment-head
		background url("../i/o1.png") repeat-x scroll center -2px #efefef
		border-radius 5px
		color #777
		padding 5px 10px
		text-shadow 0 1px 1px #fff
	&.new
		.comment-head
			background-color #f6f2e5 !important
		.button
			font-size 100%
			padding 5px 10px
	&.role-administrator
		.comment-head
			background-color #d0d3d8
	&.bypostauthor
		.comment-head
			background-color #e7ffce
	.comment-content
		padding 10px
	.controls
		a
			background-color #eee
			border-radius 10px
			color #aaa
			font-size 85%
			padding 3px 10px
			text-shadow 0 1px 1px #fff
			&:hover
				background-color #565459
				color #fff
				text-decoration none
				text-shadow none

#comment-post-status
	font-weight bold

.post-links
	div
		color #ccc
	a
		background-color transparent
		border 0 none
		color #ccc
		font-size 85%
		padding 2px 4px
		text-decoration none
		text-shadow 1px 1px 1px #fff
		&:hover
			color #ed1e24

.post-meta
	background-color #f6f6f6
	border-radius 5px
	border-top 1px solid #ddd
	color #999
	padding 10px 10px 10px 0
	.details
		font-size 85%
		p
			padding 0 0 0 10px

ul
	&.share-this
		padding-left 10px
		li
			border 2px solid #fff
			margin-right 2px
			&.last
				a
					margin-right 0
		a
			background url("../i/socialize.jpg") no-repeat scroll left top transparent
			height 32px
			text-indent -9999px
			width 32px
			&.twitter
				background-position 0 -32px
				&:hover
					background-position 0 0
			&.digg
				background-position -32px -32px
				&:hover
					background-position -32px 0
			&.facebook
				background-position -64px -32px
				&:hover
					background-position -64px 0
			&.delicious
				background-position -96px -32px
				&:hover
					background-position -96px 0
			&.stumbleupon
				background-position -128px -32px
				&:hover
					background-position -128px 0
			&.google-bookmarks
				background-position -160px -32px
				&:hover
					background-position -160px 0
			&.linkedin
				background-position -192px -32px
				&:hover
					background-position -192px 0
			&.yahoo-bookmarks
				background-position -224px -32px
				&:hover
					background-position -224px 0
			&.technorati
				background-position -256px -32px
				&:hover
					background-position -256px 0

ul.share-this li, ul.share-this li a
	border-radius 3px

.page-navi
	color #333
	font-size 115%
	font-weight bold
	padding 5px 0
	a
		&:hover
			background-color #ed1e24
			border 1px solid #ed1e24
			color #fff
	.pages
		color #999
	.current
		background url("../i/o1.png") repeat-x scroll center -3px #999
		border 1px solid #999
		color #fff
	.loading
		background url("../i/lc16w.gif") no-repeat scroll center center transparent
		height 16px
		width 16px

.page-navi a, .page-navi .current, .page-navi .dots, .page-navi .pages
	border-radius 5px
	margin 2px
	padding 5px 10px

.page-navi a, .page-navi .pages
	background-color #fff
	border 1px solid #ddd
	color #999
	font-weight normal
	text-decoration none

.block-featured .prev, .block-featured .next
	font-size 40px
	height 40px
	line-height 30px
	padding 5px
	text-shadow 1px 1px 1px #fff

.block-featured .prev:hover, .block-featured .next:hover
	background-color rgba(0, 0, 0, 0.05)
	text-decoration none

.block-featured
	li
		&.item
			margin 0 2px 10px
	.post-thumb
		background none repeat scroll 0 0 #eee
		border-bottom 1px solid #fff
		border-top 1px solid #fff
		padding 6px
		text-decoration none
		&:hover
			background none repeat scroll 0 0 #ccc
		.cover
			p
				background none repeat scroll 0 0 rgba(0, 0, 0, 0.5)
				color #fff
				font-size 80%
				font-weight bold
				margin 6px
				padding 5px
				text-align center

#related-posts
	.hentry
		-moz-border-bottom-colors none
		-moz-border-left-colors none
		-moz-border-right-colors none
		-moz-border-top-colors none
		border-color -moz-use-text-color -moz-use-text-color #ddd
		border-image none
		border-style none none dotted
		border-width 0 0 1px
		margin 1em 0
		.post-thumb
			background none repeat scroll 0 0 #efefef
		h2
			&.title
				font-size 150%
				font-weight normal
				margin 0
				text-shadow 0 1px 1px #fff

.social-media
	overflow hidden
	position fixed
	right 0
	top 220px
	width 180px
	z-index 4
	li
		margin 5px 0 5px 148px
	a
		background url("../i/t-tl.png") no-repeat scroll left top #f2b428
		border 1px solid #fff
		box-shadow 0 0 4px #f7d654
		color #fff
		display block
		font-size 110%
		letter-spacing 5px
		padding 5px 10px
		text-decoration none
		text-transform uppercase
		width 200px
		&:first-letter
			font-size 150%
			font-weight bold
			margin-right 5px
	.twitter
		a
			background-color #9ae4e8
			box-shadow 0 0 4px #9ae4e8
	.facebook
		a
			background-color #3b5998
			box-shadow 0 0 4px #3b5998
	.flickr
		a
			background-color #fe0093
			box-shadow 0 0 4px #fe0093
	.myspace
		a
			background-color #0d366d
			box-shadow 0 0 4px #0d366d

.tabs
	border-bottom 1px solid #ccc
	li
		margin-bottom -1px
		margin-right 5px
	a
		background url("../i/o1.png") repeat-x scroll center top #ccc
		border 1px solid #ccc
		border-top-left-radius 5px
		border-top-right-radius 5px
		color #666
		font-weight bold
		padding 5px 10px
		text-decoration none
		text-shadow 0 1px 1px #fff
		&:hover
			background-color #333
			border-color #333
			color #fff
			text-shadow none

.tabs .active a, .tabs .active a:hover
	background none repeat scroll 0 0 #fff !important
	border-color #ccc #ccc #fff
	color #999

#footer .tabs .active a, #footer .tabs .active a:hover
	background none repeat scroll 0 0 #111 !important
	border-color #343434 #343434 #111
	color #666

#footer-1 .tabs .active a, #footer-1 .tabs .active a:hover
	background none repeat scroll 0 0 #222 !important
	border-bottom-color #222

#footer-1
	background none repeat scroll 0 0 #222

#footer-2

.error404
	background none repeat scroll 0 0 #333
	#logo
		a
			color #dedede
	h1
		&.title
			color #fff
			font-family "Arial Black",Arial,serif

.no-img
	background-color #ccc

.clearField
	background none repeat scroll 0 0 #f8f8f8
	border 1px solid #ccc
	color #aaa
	font-weight normal

.clearFieldBlurred
	font-style italic

.clearFieldActive
	background none repeat scroll 0 0 #eee
	border-color #aaa
	color #333

.error
	color #ed1e24
	&.box
		background none repeat scroll 0 0 #ffebe8
		border 1px solid #c00
		border-radius 3px
		color #c00
		font-size 115%
		margin 0 auto
		padding 5px 10px
		text-align center
		text-shadow 0 1px 1px #fff

.success
	color #a0c207

.tip
	background url("../i/tp-sc.png") no-repeat scroll left top #e8e8e8
	border 1px solid #fff
	border-radius 5px
	box-shadow 0 0 14px rgba(0, 0, 0, 0.3)
	color #333
	padding 1em 2em

.divider
	border-bottom 1px dotted #ccc
	display block
	height 1px
	margin 5px 0 15px
	min-height 1px
	padding 4px 0 0

span
	&.alt
		color #e88d33
		font-style italic

.highlight
	background-color #ffe4b5

.pagerank-frame
	background-color #434343

.pagerank-bar
	background-color #009933

.calendar-block
	.top
		background none repeat scroll 0 0 #eee
	h4
		font-size 110%
		font-weight normal
	.control
		border-right 2px solid #fff
		font-size 110%
		&.next
			border-left 2px solid #fff
			border-right 0 none
		&:hover
			background none repeat scroll 0 0 #333
			color #fff
			text-decoration none

table.calendar th, table.calendar td
	border 0 none
	padding 1px

table
	&.calendar
		th
			background none repeat scroll 0 0 rgba(0, 0, 0, 0)
			font-size 80%
			font-weight bold
		td
			background none repeat scroll 0 0 rgba(0, 0, 0, 0)
			span
				background none repeat scroll 0 0 #eee
		a
			background none repeat scroll 0 0 #ccc
			color #333

table.calendar a:hover, #footer table.calendar a:hover
	background none repeat scroll 0 0 #ed1e24
	color #fff
	text-decoration none

table.calendar td.today a, table.calendar td.today span, #footer table.calendar td.today a, #footer table.calendar td.today span
	background none repeat scroll 0 0 #a0c207
	color #fff

.tag-cloud
	a
		color #666
		&:hover
			background-color #ccc
			color #000 !important
			text-decoration none

.latest-tweets
	.loading
		background url("../i/lc64w.gif") no-repeat scroll center center transparent
		height 72px
		margin 10px 0
		text-indent -9999px
	.avatar
		border 6px solid #e8e8e8
		img
			border 1px solid #fff
	.info
		border-bottom 1px dotted #ddd
	.details
		a
			display block
			font-size 115%
			font-weight bold
		span
			font-style italic
	.date
		color #aaa
		font-size 85%
		text-transform uppercase
		&:hover
			color #ed1e24
			text-decoration underline

.login-block
	.status
		background url("../i/tp-s.png") repeat-x scroll left center #ccc
		border-bottom 1px solid #fff
		padding 5px 10px
		&.loading
			background-color #0094da
			color #fff
		&.error
			background-color #e92606
			color #fff
			a
				color #fff
				text-decoration underline
		&.success
			background-color #73cf07
			color #fff
	.avatar
		background none repeat scroll 0 0 #ddd
		padding 6px
		img
			border 1px solid #fff

.login-block a.forgot_pass, .login-block a.register
	border-top 1px dotted #e8e8e8
	padding 2px 0
	text-align right

.search-form
	fieldset
		background none repeat scroll 0 0 transparent
	input
		&.text
			border-radius 25px
			margin 0
			outline medium none
			padding 5px 0
			text-indent 10px
			width 100%
	a
		&.submit
			background url("../i/icons.png") no-repeat scroll 10px -102px #333
			line-height 22px
			margin-left 10px
			padding 5px 10px
			text-indent -9999px
			width 20px
			&:hover
				background-color #ed1e24

.search-form input.text, .search-form a.submit
	border-radius 25px
	font-size 120%

.wp-caption, .gallery-caption
	background-color #f3f3f3
	border 1px solid #ddd
	border-radius 3px
	margin-bottom 10px
	margin-top 10px
	padding-top 4px
	text-align center

.wp-caption-dd
	font-size 11px
	line-height 17px
	margin 0
	padding 0 4px 5px

.wp-caption-text
	color #999
	font-size xx-small
	vertical-align top

