$screen-xs = 480px;
$screen-sm = 768px;
$screen-md = 991px;

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, label, input, textarea, p, blockquote, table, th, td
	margin 0
	padding 0

html, body
	min-height 100%

body
	background none no-repeat scroll center top transparent
	.page-content
		padding 0 10px
		width auto
		max-width 960px
	&.col-3-left
		.page-navi
			float right

.page-content
	margin 0 auto !important
	max-width 1200px
	min-width 300px
	position relative

a
	outline medium none
	&.caption
		position relative
	&.go-top
		bottom 10px
		cursor pointer
		display none
		position fixed
		right 10px
		z-index 99

h1, h2, h3, h4, h5, h6
	font-weight normal
	margin 0.75em 0 0.25em
	padding 0

table
	border-collapse collapse
	border-spacing 0
	margin 1em 0 2em
	width 100%
	&.calendar
		margin 0

td, th
	padding 5px

th
	font-weight bold

caption, th
	text-align left

form
	margin 1em 0 2em

input, select, textarea
	display block
	margin-bottom 5px
	padding 5px 10px

optgroup
	font-style italic
	font-weight normal

textarea
	height 160px
	width 75%

input[type="checkbox"], input[type="radio"]
	display inline
	padding 0
	vertical-align -1px

input[type="submit"]
	cursor pointer

label
	display block
	font-weight normal
	margin-top 5px

fieldset
	margin 1em 0 2em

ul, ol
	line-height 150%
	list-style-position outside
	list-style-type disc
	margin 0 0 10px 15px

dl
	margin 1em 0 2em

dt
	font-weight bold

p
	line-height 150%
	margin 0.25em 0 0.75em

img
	border 0 none
	&.wp-smiley
		vertical-align -15%

small
	font-size 80%

code
	font 12px "Courier New",Courier,"Lucida Console",Monaco,"DejaVu Sans Mono","Nimbus Mono L","Bitstream Vera Sans Mono",monospace

pre
	font 12px "Courier New",Courier,"Lucida Console",Monaco,"DejaVu Sans Mono","Nimbus Mono L","Bitstream Vera Sans Mono",monospace
	margin 0.25em 0 0.75em
	overflow auto
	white-space pre-wrap

blockquote
	margin 1.5em 10px
	quotes "“" "”" "‘" "’"
	&:before
		content open-quote
		font-size 4em
		line-height 0.1em
		margin-right 0.25em
		vertical-align -0.4em
	p
		display inline
		font-style italic

#mask-3
	overflow hidden
	position relative
	z-index 2

#mask-1, #mask-2
	float left
	position relative
	right 0
	width 100%

#primary-content, #sidebar, #sidebar2
	float left
	left 0
	min-height 150px
	position relative
	top 0
	width 100%

#primary-content
	min-height 540px

body.col-1 #sidebar, body.col-1 #sidebar2, body.col-2-left #sidebar2, body.col-2-right #sidebar2
	display none

#site-title
	padding 1em 0 2em

#logo
	margin 0
	padding 0

@import "elements/additional"

.nav
	position relative
	li
		float left
		line-height normal
		position relative
		@media screen and (max-width: $screen-sm)
			float none
		li
			float none
			.arrow
				top 10px
				background-position -16px 0
	a
		display block
		position relative
	ul
		ul
			display none
			position absolute
			top 29px
			width 300px
			z-index 15
			ul
				left 280px
				top 10px
	.extends
		a
			padding-right 30px
	.arrow
		background url("i/a.gif") no-repeat scroll 0 0 transparent
		height 8px
		position absolute
		right 10px
		top 15px
		width 8px

.nav ul, .nav li
	list-style-type none
	margin 0
	padding 0

.nav li:hover ul ul, .nav li:hover ul ul ul, .nav li:hover ul ul ul ul
	display none

.nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li li li li:hover ul
	display block

.nav .current-menu-item > a .arrow, .nav .current-menu-ancestor > a .arrow, .nav li.hover > a .arrow, .nav li:hover > a .arrow
	background-position 0 -8px

.nav li .current-menu-item > a .arrow, .nav li .current-menu-ancestor > a .arrow, .nav li li.hover > a .arrow, .nav li li:hover > a .arrow
	background-position -16px -8px

.blocks, .block
	list-style-type none
	padding 0

.blocks
	margin 1em 0 0

.block
	margin 0 0 2em
	.block
		border 0 none !important
		float none !important
		margin 0 !important
		padding 0 !important
		width auto !important
	ul
		&.menu
			li
				.expand
					display none
				&.expanded
					& > .expand
						background-position -8px 0
				&.collapsed
					& > .expand
						background-position 0 0
			.base
				display block
				overflow hidden
			.tt
				display block
			.c1
				display block
				line-height 150%
			.c2
				display block
				margin 5px 0 0
			.flag
				margin-top 4px
			&.images
				margin-right -4px
				li
					border 0 none
					float left
					margin 4px 4px 0 0
				a
					padding 0
			.rating
				display block
				margin 5px 0
				width 50%
				.bar
					display block
					height 5px
					text-indent -9999px
	a
		&.more
			display block

.block ul.menu, .block ul.menu li, .block .box, .block ul.box .entry
	list-style-type none
	margin 0
	padding 0

.block ul.menu, .block ul.menu li
	line-height normal

.block ul.menu.accordion li.extends > .expand, .block ul.menu.collapsible li.extends > .expand
	background-image url("i/a.gif")
	background-repeat no-repeat
	cursor pointer
	display block !important
	height 8px
	position absolute
	right 5px
	top 8px
	width 8px
	z-index 10

.block ul.menu.accordion li ul, .block ul.menu.collapsible li ul
	display none

.block ul.menu.accordion li.current-menu-item > ul, .block ul.menu.collapsible li.current-menu-item > ul, .block ul.menu.accordion li.current-menu-ancestor > ul, .block ul.menu.collapsible li.current-menu-ancestor > ul
	display block

.block ul.menu li, .block ul.box .entry
	position relative

.block ul.menu a, .block ul.box .entry
	display block
	padding 5px 0

.block ul.menu .avatar, .block ul.menu .wp-post-image, .block ul.menu .no-img
	display block
	float left
	margin-right 5px

.block ul.menu.images .avatar, .block ul.menu.images .no-img
	float none
	margin 0

.hentry
	margin-bottom 2em
	position relative
	.post-details
		overflow hidden
	&.thumb-only
		float left
		.post-thumb
			float none
			margin 0 10px
	h2
		&.title
			margin 0
			padding 0 0 5px
	&.thumb-left
		.post-thumb
			float left
			margin-right 10px
		.post-details
			padding-left 10px
	&.thumb-right
		.post-thumb
			float right
			margin-left 10px
		.post-details
			padding-right 10px
	.post-thumb
		img
			display block
	.post-content
		line-height 130%
	.post-extra
		overflow hidden
	.post-tags
		overflow hidden
		a
			display inline-block
	.comments
		float right
	&:hover
		& > .post-controls
			display block
	&.featured
		margin 0
		overflow hidden

.hentry.thumb-left .post-details, .hentry.thumb-right .post-details
	min-height 140px

.post-controls
	display none
	position absolute
	right 10px
	top 5px
	z-index 5
	a
		float right

#comments, #pings, #related-posts, #about-the-author, #comments li, #pings li, #related-posts li, #about-the-author li, #comments .navi
	list-style-type none
	margin 0
	padding 0

#comments, #pings, #related-posts, #about-the-author
	margin 1em 0 2em

li
	.ping
		list-style-type decimal
		margin-left 25px
	.comment
		margin 1em 0 0
		position relative
	li
		.comment
			margin 0 0 0 40px

.comment
	div
		&.avatar
			height 58px
			left 5px
			position absolute
			top 5px
			width 58px
	.avatar
		img
			display block
	&.with-avatars
		.comment-head
			padding-left 80px
		.comment-body
			margin-left 70px
	.comment-content
		height auto !important
		min-height 68px
		position relative
	&.new
		form
			margin 0
		.button
			&.alignleft
				margin-right 5px
	.controls
		bottom 15px
		display none
		position absolute
		right 15px
	&:hover
		.controls
			display block

h1
	&.title
		margin 0.25em 0 0.5em

h5
	&.title
		margin 2em 0 0.25em

.post-links
	div
		display block
		line-height normal
		max-width 45%
	.alignright
		text-align right

.post-meta
	margin 1em 0 0
	overflow hidden
	.details
		overflow hidden
		p
			line-height 125%
			margin 0

ul.share-this, ul.share-this li
	list-style-type none
	margin 0
	padding 0
	float left

ul
	&.share-this
		a
			display block

.page-navi a, .page-navi .current, .page-navi .dots, .page-navi .pages
	float left

.block-featured .prev, .block-featured .next
	cursor pointer
	position absolute
	top 60px
	z-index 15

.block-featured
	.prev
		left -30px
	.next
		right -30px
	.block-content
		position relative
		z-index 5
	li
		&.item
			display block
			float left
			height 188px
			overflow hidden
			width 188px
	.post-thumb
		.cover
			bottom -100px
			left 0
			opacity 0
			position absolute
			width 100%
			p
				display block
				line-height 150%
				margin 0

.block-featured ul, .block-featured li.item
	list-style-type none
	margin 0
	padding 0

.block-featured .post-thumb, .block-featured .post-thumb img
	display block

#related-posts
	.hentry
		margin 1em 0
		overflow hidden
		.post-details
			overflow hidden
		h2
			&.title
				padding 0

.social-media, .social-media li
	list-style-type none
	margin 0
	padding 0

.tabs, .tabs li
	list-style-type none
	margin 0
	padding 0

.tabs
	li
		float left
	a
		display block

.sections, .section
	position relative

.section
	width 100%

#footer
	.block
		float left
		list-style-type none
		margin 0
		h4
			&.title
				margin 0 0 5px
	.count-0
		.block
			width 100%
	.count-1
		.block
			width 100%
	.count-2
		.block
			width 50%
	.count-3
		.block
			width 33%
			&:first-child
				width 34%
	.count-4
		.block
			width 25%
	.count-5
		.block
			width 20%
	.count-6
		.block
			width 15%
	#copyright
		line-height 150%
		padding 1em 0

.error404
	#logo
		padding 60px 0 10px
		position relative
		z-index 5
	h1
		&.title
			font-size 2400%
			margin 0
			padding 0
			position relative
			z-index 4
	#footer
		bottom 0
		position absolute
		width 100%

.wide
	width 100%

.hidden
	display none

.clear-block
	&:after
		clear both
		content "."
		display block
		height 0
		line-height 0
		visibility hidden

.fadeThis
	position relative
	z-index 1
	.hover
		display block
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index -1

.tip
	display none
	max-width 500px
	min-width 50px
	position absolute
	z-index 20

.large
	font-size 115%

.pagerank
	display inline-block
	margin 0 3px

.pagerank-frame
	display inline-block
	height 8px
	margin-left 2px
	width 35px

.pagerank-bar
	height 8px

.no-img
	background url("i/x.png") no-repeat scroll center center transparent
	display block
	position relative
	&.loading
		background url("i/lc32w.gif") no-repeat scroll center center transparent
		display block
		position relative

#fancybox-loading
	cursor pointer
	display none
	height 40px
	left 50%
	margin-left -20px
	margin-top -20px
	overflow hidden
	position fixed
	top 50%
	width 40px
	z-index 1104
	div
		background-image url("i/fancybox.png")
		height 480px
		left 0
		position absolute
		top 0
		width 40px

*
	html
		#fancybox-loading
			margin-top 0
			position absolute
		#fancybox-overlay
			position absolute
			width 100%

#fancybox-overlay
	background url("i/light-mask.png") no-repeat scroll 50% 10% #000
	bottom 0
	display none
	left 0
	position fixed
	right 0
	top 0
	z-index 1100

#fancybox-tmp
	border 0 none
	display none
	margin 0
	overflow auto
	padding 0

#fancybox-wrap
	display none
	left 0
	margin 0
	padding 20px
	position absolute
	top 0
	z-index 1101

#fancybox-outer
	background none repeat scroll 0 0 #fff
	height 100%
	position relative
	width 100%

#fancybox-inner
	height 1px
	left 0
	margin 0
	outline medium none
	overflow hidden
	padding 0
	position absolute
	top 0
	width 1px

#fancybox-hide-sel-frame
	background none repeat scroll 0 0 transparent
	height 100%
	left 0
	position absolute
	top 0
	width 100%

#fancybox-close
	background-image url("i/fancybox.png")
	background-position -40px 0
	cursor pointer
	display none
	height 30px
	position absolute
	right -15px
	top -15px
	width 30px
	z-index 1103

#fancybox_error
	color #444
	font 12px/20px Arial
	margin 0
	padding 7px

#fancybox-content
	height auto
	margin 0
	padding 0
	width auto

#fancybox-img
	border medium none
	height 100%
	line-height 0
	margin 0
	outline medium none
	padding 0
	vertical-align top
	width 100%

#fancybox-frame
	border medium none
	display block
	height 100%
	position relative
	width 100%

#fancybox-title
	bottom 0
	font-family Arial
	font-size 12px
	left 0
	position absolute
	z-index 1102

.fancybox-title-inside
	color #333
	padding 10px 0
	text-align center

.fancybox-title-outside
	color #fff
	font-weight bold
	padding-top 5px
	text-align center

.fancybox-title-over
	color #fff
	text-align left

#fancybox-title-over
	background-color rgba(0, 0, 0, 0.5)
	display block
	padding 10px

#fancybox-title-wrap
	display inline-block
	span
		float left
		height 32px

#fancybox-left, #fancybox-right
	bottom 0
	cursor pointer
	display none
	height 100%
	outline medium none
	position absolute
	width 35%
	z-index 1102

#fancybox-left
	left 0
	&:hover
		span
			left 20px

#fancybox-right
	right 0
	&:hover
		span
			left auto
			right 20px

#fancybox-left-ico, #fancybox-right-ico
	cursor pointer
	display block
	height 30px
	left -9999px
	margin-top -15px
	position absolute
	top 50%
	width 30px
	z-index 1102

#fancybox-left-ico
	background-image url("i/fancybox.png")
	background-position -40px -30px

#fancybox-right-ico
	background-image url("i/fancybox.png")
	background-position -40px -60px

#fancybox-left:hover, #fancybox-right:hover
	visibility visible

.fancy-bg
	border 0 none
	height 20px
	margin 0
	padding 0
	position absolute
	width 20px
	z-index 1001

.calendar-block
	.top
		padding 5px 0 5px 70px
		position relative
	h4
		margin 0
	.control
		height 100%
		left 0
		line-height 28px
		position absolute
		text-align center
		top 0
		width 60px
		&.next
			left auto
			right 0

table.calendar td, table.calendar th
	padding 0
	text-align center

table.calendar a, table.calendar span
	display block
	padding 5px
	text-align center

.tag-cloud
	line-height 150%
	padding 10px 0
	text-align justify
	a
		letter-spacing -0.02em
		padding 0 0.2em
		text-decoration none
		vertical-align middle

.latest-tweets
	.avatar
		float left
		img
			display block
	.info
		padding 5px 0
	.details
		display block
		margin-left 66px
		a
			display block
		span
			display block
			padding-top 4px
	.date
		display block

.login-block
	margin 5px 0
	.status
		margin 4px 0
	label
		&.remember
			margin-top 12px
	.avatar
		float left
		img
			display block
			padding 0
	ul
		&.menu
			display block
			margin-left 116px
	input
		&.text
			width 50%
			&.wide
				width 75%

.login-block a.forgot_pass, .login-block a.register
	display block

.search-form
	margin 0
	overflow hidden
	fieldset
		border 0 none
		display block
		margin 0
		overflow hidden
		padding 0
	a
		&.submit
			float right

img.alignleft, img.alignright
	margin-bottom 5px
	margin-top 5px
	padding 3px

.alignleft
	float left
	margin-right 10px

.alignright
	float right
	margin-left 10px

.aligncenter
	display block
	margin-left auto
	margin-right auto
	text-align center

.no-js
	.hide-if-no-js
		display none

.col
	float left
	margin-bottom 10px
	width 100%
	&.c-2
		width 50%
	&.c-3
		width 33%
	&.c-4
		width 25%
	&.c-5
		width 20%
	&.c-6
		width 16.5%
	&.c-7
		width 14%
	&.c-8
		width 12.5%
	&.c-9
		width 11%
	&.c-10
		width 10%
	.cc
		border-right 1px solid #ddd
		padding 0 10px
	&.last
		.cc
			border 0 none
			padding-right 0
	&.first
		.cc
			padding-left 0

